@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --header-height: 5rem;
  --footer-height: 5rem;
  --screen-no-header: calc(100vh - var(--header-height));
  --screen-no-header-no-footer: calc(
    100vh - var(--header-height) - var(--footer-height)
  );
  --main-content-padding: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}
